.header { grid-area: header;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
color: blanchedalmond;
font-size: 30px;}
.barra-menu {grid-area: nav1;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blanchedalmond;
text-align: center;}
.main {grid-area: main;
    padding:0px 15px;
    background-color:rgb(54, 121, 210)}

.mi-footer {grid-area: footer;}


/*--------------------------------------------------*/
/* Estilos para pantalla grande
/*--------------------------------------------------*/
.contenedor {
    display: grid;
    grid-template: 1fr 0.5fr 2fr 0.5fr/ 15% auto 15%;
    grid-template-areas: "header header header"
                          "nav1 nav1 nav1"
                          "main   main main"
                          "footer footer footer";

}

/*--------------------------------------------------*/
/* Estilos para tablet
/*--------------------------------------------------*/
@media (max-width: 1024px) {
    .contenedor {
        display: grid;
        grid-template: auto auto auto auto/ auto;
        grid-template-areas: "header header"
                              "nav1 nav1"
                              "main main"
                              "footer footer";
    
    }
}

/*--------------------------------------------------*/
/* Estilos para teléfono
/*--------------------------------------------------*/
@media (max-width: 620px) {
    .contenedor {
        display: grid;
        grid-template: auto auto auto auto auto auto/ auto;
        grid-template-areas: "header"
                              "nav1"
                              "main"
                              "footer";
    
    }


nav ul li a {
    color: rgb(43, 92, 225);
    display: block;
    padding: 0px;
    text-decoration: none;
    font-size: 12px;
}

}


/*--------------------------------------------------*/
/* Menu
/*--------------------------------------------------*/
nav {
    background-color: #0a5dd9;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: inline-block;
    
}

nav ul li a {
    color: rgb(214, 221, 222);
    display: block;
    padding: 15px;
    text-decoration: none;
    
}

nav ul li a:active {
       color: rgb(177, 190, 188);
    
}

/*--------------------------------------------------*/
/* Estilos del footer
/*--------------------------------------------------*/
.mi-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(11, 120, 167);
    border: 0px solid rgb(248, 241, 241);
    padding: 0px 20px;
}


.icon-footer {
    display: flex;  
    margin: 0px;
    color:white;
    font-size: 24px;
    column-gap: 10px;
}

.texto-footer {
    margin: 0px;
    color:white
}

/*--------------------------------------------------*/
/* Estilos del header
/*--------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #273788;
    border: 0px solid rgb(235, 231, 231);
    padding: 0px 20px;    
}

.logo > img {
    width: 100px;
}

.nombre {
    width: 100%;
    text-align: center;
}

/*--------------------------------------------------*/
/* Estilos del main
/*--------------------------------------------------*/
table {
    width: 50%; /* Reduce the table width */
    border-collapse: collapse;
    margin: 20px; /* Add margin to center the table */
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px; /* Reduce the padding */
    font-size: 14px; /* Reduce the font size */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}